<%- include('partials/header') %> 
      <% posts.forEach(post => { %>
        <div class="posting">
          <h3><%= post.title %></h3>
          <p><%= post.description %></p>
        </div>
      <% }) %>
<%- include('partials/footer') %>

