<%- include('../partials/header')  %> 

<section>
    <form action="/posts" method="post" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="description">Description</label>
        <textarea name="description" cols="30" rows="10"></textarea>
        <label for="media-upload">Upload File</label>
        <input type="file" name="media-upload">
        <label for="thumb-nail-upload">Thumbnail File</label>
        <input type="file" name="thumb-nail">
        <label for="category">Category</label>
        <select name="category">
            <option value="experimental">Experimental</option>
            <option value="portrait">Portrait</option>
            <option value="comedy">Comedy</option>
            <option value="music">Music</option>
            <option value="prose">Prose</option>
            <option value="poetry">Poetry</option>
        </select>
        <input type="submit" value="Add Post">
    </form>
</section>

<%- include('../partials/footer')  %> 